<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="tests" thread-count="2" configfailurepolicy="continue">

	<test name="SIT SUITE1" preserve-order="true">
		<parameter name="project.name" value="CustomerCreation" />

		<groups>
			<run>
				<include name="CustomerCreation"></include>
			</run>
		</groups>

		<classes>
			<class name="com.nab.DataCreation.CustomerCreationTest"></class>
		</classes>
	</test>
	
	
</suite>